<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.au.mad22spring.appproject.group22.ideanator">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_smiley"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_smiley_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ideanator">
        android:name=".IdeainatorApplication">

        <activity
            android:name=".voteActivity.VoteActivity"
            android:exported="false" />
        <activity
            android:name=".roundActivity.RoundActivity"
            android:exported="false" />
        <activity
            android:name=".lobbyActivity.LobbyActivity"
            android:exported="false" />
        <activity
            android:name=".finalActivity.FinalActivity"
            android:exported="false" />
        <activity
            android:name=".joinActivity.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".mainActivity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>